@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/fonts.css';

:root{
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size:60px;
    --border: 1px solid #474a4d;
    --border-radius:8px;
    --speed:500ms;
}

::-webkit-scrollbar{
    background-color: rgb(#000000);
}

html{
    scrollbar-color: blue, black;
    scrollbar-width: thin;
}